{% load static %}

{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="th">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Profile</title>
    <script src="https://cdn.tailwindcss.com"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">


</head>

<body>

    <div class="mt-10 flex justify-center">
        <div class=" w-3/4 flex justify-center rounded-lg shadow-lg border">
            <div class="p-5">
                <p class="text-lg">ลงทะเบียนอุปกรณ์</p>
                <form method="POST" enctype="multipart/form-data" class=" mt-10 text-sm">
                    {% csrf_token %}
                    <div class="grid grid-cols-3 gap-5">
                        {{ form|crispy }}
                    </div>
                    <div class=" grid  gap-5 ">
                        <button type="submit"
                            class="w-full bg-blue-500  text-white p-2 rounded hover:bg-blue-600">ลงทะเบียน</button>
                        
                    </div>
                </form>
            </div>
        </div>
    </div>





</body>