
body, html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    text-align: center;
    
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    position: relative;
  }
  
  .header-circle {
    background-color: grey;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    position: absolute;
    left: 20px;
  }
  
  .header h1 {
    flex-grow: 1;
    text-align: center;
  }
  
  .header-buttons {
    display: flex;
    gap: 10px;
  }

  .auth-links {
    display: flex;
    gap: 10px;
  }
  
  .auth-links .login,
  .auth-links .register {
    text-decoration: none;
    font-weight: bold;
  }

  .btn {
    padding: 10px 20px;
    background-color: #888;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: #777;
  }
  
  .main-content  {
    text-wrap: wrap;
    padding: 20px;
  }
  
  .message-box {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    padding: 20px;
    margin-bottom: 20px; /* This can be removed if using Tailwind's mb-4 */
    position: relative;
    max-width: 600px;
    margin: 40px auto;
  }
  
  .footer {
    padding: 20px;
    text-align: center;
  }
  
  .device-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  .icon {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
  }
  
  .container {
    max-width: 1200px;
    margin: auto;
   
  }
  
  .title {
    margin-top: 20px;
  }
  
  .navigation ul {
    list-style: none;
    padding: 0;
    margin: 20px 0;
    display: flex;
    justify-content: center;
  }
  
  .navigation li {
    margin: 0 10px;
    cursor: pointer;
  }
  
  .card-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    width: 200px;
    margin-bottom: 20px;
    padding: 15px;
  }
  
  .image-placeholder {
    background-color: #ddd;
    width: 100%;
    height: auto; 
    margin-bottom: 10px;

  }
  
  .card p {
    color: #333;
  }